main
{
    min-width: 1300px;
    display: grid;
    padding: 20px;
    grid-template-columns: 10% 10% 15% 15% 15% 15% auto auto;
    grid-template-rows: 50px 250px 100px auto auto;
    grid-template-areas: 'm m m m m m w r'
        'd d n n n a w r'
        'y y s s s s w r'
        'l i p p p p w r'
        'l i t t t t w r';
    vertical-align: bottom;
}

a
{
    text-decoration: none;
    color: #000;
}

.val
{
    font-weight: bold;
}

.example_search,
.persent,
.date,
.info
{
    color: #6b6b6b;
}

a:hover,
.first-letter,
.one_joke > label:hover,
.joke_section:hover,
.open:hover
{
    color: #d60606;
}

.first-letter
{
    padding-right: 0;
}

.tabs_link
{
    padding-right: 15px;
}

span
{
    padding-right: 10px;
}

.loca
{
    color: #6fabfa;
}

.them,
.tabs_link,
.now,
.concert,
.one_joke > label,
.joke_section
{
    color: #5936f7;
}

.logo
{
    grid-area: y;
}

.settings
{
    display: flex;
    flex-direction: column;
}

.open
{
    float: left;
}

.settings_tabs label::before
{
    content: '';
    background-image: url('off.png');
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

#popular:checked ~ .settings .settings_tabs label[for='popular']::before,
#joke:checked ~ .settings .settings_tabs label[for='joke']::before,
#tv:checked ~ .settings .settings_tabs label[for='tv']::before,
#auto:checked ~ .settings .settings_tabs label[for='auto']::before,
#weather:checked ~ .settings .settings_tabs label[for='weather']::before,
#sity_map:checked ~ .settings .settings_tabs label[for='sity_map']::before,
#jams:checked ~ .settings .settings_tabs label[for='jams']::before,
#posters:checked ~ .settings .settings_tabs label[for='posters']::before
{
    background-image: url('on.png');
}

.settings_tabs
{
    text-align: left;
    position: absolute;
    margin-top: 40px;
    padding: 15px;
    width: 170px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
}

input[name='settings']:checked ~ .settings_tabs
{
    display: block;
}

.settings_tabs,
.set_check,
.one_joke > input,
#popular:not(:checked) ~ .categories .column1 .card_popular,
#joke:not(:checked) ~ .categories .column1 .card_joke,
#tv:not(:checked) ~ .categories .column2 .card_tv,
#auto:not(:checked) ~ .categories .column2 .card_auto,
#weather:not(:checked) ~ .categories .column3 .card_weather,
#sity_map:not(:checked) ~ .categories .column3 .card_map,
#jams:not(:checked) ~ .categories .column3 .card_jams,
#posters:not(:checked) ~ .categories .column3 .card_posters
{
    display: none;
}

.content_news > li
{
    list-style-type: disc;
}

li
{
    list-style-type: none;
    margin-top: 10px;
}

ul
{
    margin-left: 0;
    padding-left: 0;
}

.map
{
    grid-area: m;
}

.settings
{
    grid-area: w;
    text-align: center;
}

.mail
{
    grid-area: r;
    text-align: center;
}

.news
{
    grid-area: n;
}

.advertising
{
    grid-area: a;
}

.search
{
    grid-area: s;
}

.photo
{
    grid-area: p;
}

.categories
{
    display: flex;
    justify-content: flex-start;
    grid-area: t;
}

.currencies,
.map,
.search_wrapp
{
    display: flex;
}

.cards
{
    margin-bottom: 30px;
    width: 250px;
    margin-right: 30px;
}

.elem
{
    margin-right: 5%;
}

.logo
{
    margin-top: 8px;
    text-align: right;
}

.card_f
{
    display: flex;
    align-items: center;
}

nav
{
    margin-bottom: 10px;
}

.search_wrapp > input
{
    font-size: 1.5rem;
    box-sizing: border-box;
    height: 40px;
    justify-content: flex-start;
    width: 88%;
    border: 2px solid #ffdd61;
    margin-bottom: 0;
}

.search_wrapp > input:focus
{
    outline: 0;
}

.search_wrapp > button
{
    height: 40px;
    width: 12%;
    background-color: #ffdd61;
    border: 2px solid #ffdd61;
    font-weight: 600;
    font-size: 1.3em;
}

.search_wrapp > div
{
    position: relative;
    border: 20px solid transparent;
    border-left: 12px solid #ffdd61;
}

.card_auto > div
{
    overflow-y: scroll;
    height: 240px;
}

.one_joke
{
    width: 250px;
}

#j-1:checked ~ .j-1,
#j-2:checked ~ .j-2,
#j-3:checked ~ .j-3
{
    display: block;
}

.one_joke > p.text
{
    height: 100px;
}

label[for^='j-'],
.open
{
    cursor: pointer;
}

input[name='refresh'],
input[name='n'],
.one_joke
{
    display: none;
}
